*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 700;
}
html {
    background-image: url(Marip.jpg);
}
.contiene{
    background-color: rosybrown;
    padding: 1%;
}
#about{
    text-align:left;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1, h2, h3, h4{
    text-align: center;
}
contacto{
    justify-content: center;
}
.texto{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
}
#proyectos {
    text-align: center;
}

.proyecto {
    display: inline-block;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
}

.proyecto img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column; }
    .texto {
        width: 100%; }
    .proyecto {
        width: 100%; 
    }

}
